*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #C2B2B4;
  background-image: url("images/back-placeholder.png");
  background-size: 90%;
}

.page-top {
  /*background-color: #3E2A35;*/
  color: #FFF;
}

header {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
}

.title {
  flex: 1;
}

h1 > img {
  height: 25px;
}

.search-bar {
  flex: 1;
}

.fa-search {
  color: #FFF;
  background-color: hotpink;
}

.foto-form {
  border: 2px solid blue;
}

form {
  width: 60%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

label,
input {
  padding: 10px;
  margin: 10px;
}

label {
  color: #938284;
}

.choose-file-label {
  text-align: center;
}

.form-buttons {
  background-color: #5B4447;
  color: #FFF;
  border: 0;
}

#choose-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.foto-library {
  border: 2px solid yellow;
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin-top: 80px;
  margin: 80px 50px;
}

.foto-card {
  border: 2px solid #938284;
  height: 335px;
  width: 250px;
  background-color: #FFF;
  color: #3E2A35;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 0;
}

.foto-title {
  height: 40px;
  width: 100%;
}

.foto-card img {
  height: 150px;
  width: 100%;
}

.foto-caption {
  height: 85px;
  width: 100%;
}

.foto-icons {
  background-color: #5B4447;
  height: 60px;
  width: 100%;
}

.foto-icons input {
  height: 57px;
  margin: 0;
  margin-top: 2px;
  padding: 10px;
}

#favorite-btn {
  float: right;
}

.input-fields:focus {
  outline: none;
}