*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #C2B2B4;
}

.page-top {
  background-color: #3E2A35;
  color: #FFF;
}

header {
  display: flex;
  flex-direction: row;
}

.title {
  flex: 1;
}

h1 {
  font-size: 55px;
  margin: 20px 30px;
}

h1 > img {
  height: 45px;
  margin-left: 12px;
  margin-right: 12px;
}

.search-bar {
  flex: 1;
}

.search-container {
  position: absolute;
  right: 30px;
  margin-top: 25px;
}

.search-input-field {
  height: 50px;
  width: 320px;
  border-radius: 5px 0 0 5px;
  border: 2px solid #C2B2B4;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: #C2B2B4;
  font-size: 24px;
  padding-left: 10px;
}

.search-button {
  height: 50px;
  width: 50px;
  border-radius: 0 5px 5px 0;
  background-color: #C2B2B4;
  border: 2px solid #C2B2B4;
}

.fa-search {
  color: #FFF;
  background-color: #C2B2B4;
  font-size: 25px;
}

form {
  width: 50%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  min-width: 500px;
}

label {
  color: #938284;
  margin-top: 20px;
  font-size: 22px;
  padding-left: 10px;
} 

.input-fields, 
.form-buttons {
  border-radius: 2px;
  height: 60px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: none;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
}

.form-buttons:hover {
  background-color: #938284;
}

.input-fields {
  text-align: left;
}

.form-buttons {
  background-color: #5B4447;
  color: #FFF;
}

.choose-file-label {
  margin: 20px 10px;
  padding-top: 18px;
}

.small-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.small-form-buttons {
  display: inline-block;
  width: 40%;
}

#choose-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.foto-library {
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 50px;
}

.foto-card {
  border: 2px solid #938284;
  height: 375px;
  width: 265px;
  background-color: #FFF;
  color: #3E2A35;
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 0;
}

.foto-card-fonts {
  color: #3E2A35;
  font-weight: 400;
  font-size: 24px;
  padding: 10px;
}

.foto-title {
  height: 50px;
}

.foto-card img {
  height: 175px;
  width: 100%
}

.foto-caption {
  height: 85px;
}

.foto-icons {
  background-color: #5B4447;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.foto-icons input {
  height: 58px;
  margin: 0;
  margin-top: 2px;
  padding: 8px;
}

.input-fields:focus,
.form-buttons:focus,
.search-input-field:focus {
  outline: none;
}